body{
    margin:0em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    background-size: 100%;
    background-repeat: no-repeat;
}

#navbar{
    //height: 3em;
    width: 100%;
    margin:-1.5em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    height:auto;
    min-height:3em;
    height:auto !important;      
    height:3em;
}

#brand{
    float: left;
    padding-right: 3em;
    padding-left: 8.3em;
}

#navlinks{
    width: 1200px;
    margin-left: 0em;
    margin-right: 0em;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    float: left;
}

#navbar a{
    display: block;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.5em;
    height: 1.5em;
} 

#banner{
    
    height: 5em;
    width: 100%;
    margin: 20em 0em -2em 0em;
    padding:0em 0em 0em 0em;
    
}

#bannertext{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
}

#mediacontainer{
    width: 100%;
    height:auto;
    min-height:20em;
    height:auto !important;      
    height:20em;
    margin-top: 2em;
}

#img1{
    
    height: 200px;
    width: 400x;
    //margin-left: auto;
    //margin-right: auto;
    //margin-top: 1em;
}



//figcaption{
//  height: 150px;
//width: 300px;
//}



#video1{
    height: 881px;
    width: 100%;
}

#mediacontainer p{
    width: 250px
}

.imgwrap {
    position: relative;
    height: 250px;
    width: 300px;
}

.imgdescription {
    position: relative;
    top: -100px;
    bottom: 0px;
    left: auto;
    right: auto;
    visibility: hidden;
}


.imgwrap:hover .imgdescription {
    visibility: visible;
}

#image_slideshow.center
{ display: block;
  margin-left: auto;
  margin-right: auto;
}

#image_slideshow{
    height: 550px
}

#buttons.center
{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
#buttons{
    visibility: hidden;
    position: relative;
}

#caption_slideshow.center
{ text-align: center;
  
}

#title_slideshow
{
	
}
#image_slideshow:hover #buttons{
    visibility: visible;
}














